@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "Editors Note Bold";
  src: url("/fonts/OTF/EditorNote-Bold.otf") format("otf"),
    url("/fonts/OTF/EditorNote-Bold.otf") format("otf"),
    url("/fonts/OTF/EditorNote-Bold.otf") format("truetype");
  font-style: normal;
}


@font-face {
  font-family: "Editors Note Regular";
  src: url("/fonts/OTF/EditorNote-Regular.otf") format("otf"),
    url("/fonts/OTF/EditorNote-Regular.otf") format("otf"),
    url("/fonts/OTF/EditorNote-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Editors Note Medium";
  src: url("/fonts/OTF/EditorNote-Medium.otf") format("otf"),
    url("/fonts/OTF/EditorNote-Medium.otf") format("otf"),
    url("/fonts/OTF/EditorNote-Medium.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: "Editors Note Light";
  src: url("/fonts/OTF/EditorNote-Light.otf") format("otf"),
    url("/fonts/OTF/EditorNote-Light.otf") format("otf"),
    url("/fonts/OTF/EditorNote-Light.otf") format("truetype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Editors Note ExtraLight";
  src: url("/fonts/OTF/EditorNote-ExtraLight.otf") format("otf"),
    url("/fonts/OTF/EditorNote-ExtraLight.otf") format("otf"),
    url("/fonts/OTF/EditorNote-ExtraLight.otf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* html, body {
  scroll-behavior: smooth;
} */

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Editors Note Light";
}

p {
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
}

.text-yellowtail {
  font-family: "Yellowtail", cursive;
  font-weight: 100;
}

/* Ensure scrolling content is hidden */
/* .overflow-hidden {
  position: relative;
  width: 100%;
  overflow:visible;
} */


/* .scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* .scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera
} */

/* section {
  position: relative;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}  */

 /* h1 {
  font-family: "Editors Note Regular";
  font-size: 120px;
  font-weight: 400;
  font-style: bolder;
} */
